<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Django Error Views example</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Django Error Views example</h1>
                <p>Try these errors to see what you get</p>
                <ul>
                    <li><a href="/400">HTTP 400</a></li>
                    <li><a href="/403">HTTP 403</a></li>
                    <li><a href="/404">HTTP 404</a></li>
                    <li><a href="/500">HTTP 500</a></li>
                </ul>
            </div>
        </div>

    </div>


</body>
</html>
