{% load i18n %}
<div class="error-actions">
    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> {% blocktrans %}Go to homepage{% endblocktrans %} </a>
    <a href="mailto:{{ support_email }}?subject=[{{ status_code }}]%20{% blocktrans %}Please fix the error.{% endblocktrans %} {{ message }}&body={{ message }}%20{{ request.build_absolute_uri }}" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-envelope"></span> {% blocktrans %}Ask for help{% endblocktrans %}
    </a>
</div>
